
#articles, #saved-articles {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 87vh;
  margin: 0;
  padding: 0;
}


.featuredArticle img {
  float: left;
  clear: left;
  margin-right: 1rem;
}

#articles a, #saved-articles a {
  text-decoration: none;
  color: black;
}

.modal-content {
  max-height: 96vh;
}

.modal-body {
  overflow: hidden;
  height: 90vh;
}

#article-content {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 73vh;
  z-index: 2000;
  border: none;
}

.modal-dialog {
    margin: 2vh auto;
    max-width: 100vw;
    width: 90vw;
    position: relative;
}

.previous-button, .next-button {
  position: absolute;
  top: 50%;
  padding: 0.4rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
  font-size: 1.5em;
}
.previous-button{
  left: 0;
}
.next-button{
  right: 0;
}

.previous-button:hover, .next-button:hover {
    background-color: darkgray;
}
