
#articles, #saved-articles {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 87vh;
  margin: 0;
  padding: 0;
}


.featuredArticle img {
  float: left;
  clear: left;
  margin-right: 1rem;
}

#articles a, #saved-articles a {
  text-decoration: none;
  color: black;
}

#article-content {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 78vh;
  z-index: 2000;
  border: none;
  margin: 0;
  padding: 1em;
}

#article-viewer {
  position: relative;
}

#close-viewer {
  position: sticky;
  float: right;
  top: 0;
  right: 0;
  font-size: 1.5em;
  margin: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: lightgray;
  font-weight: bolder;
  z-index: 2000;
  width: 2em;
  height: 2em;
  text-align: center;
  opacity: 0.7;
}

.viewer-header {
  position: relative;
}

.previous-button, .next-button {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  position: fixed;
  bottom: 30%;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
  font-size: 1.5em;
  opacity: 0.7;
}
.previous-button{
  left: 0;
}
.next-button{
  right: 0;
}

.previous-button:hover, .next-button:hover, #close-viewer:hover {
    background-color: darkgray;
    cursor: pointer;
}
